h1{
    font-size: 3em;
}

li{
    text-align: left;
    padding: .5em;
    list-style-type: none;
}
header .nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav li{
    border: 1px solid black;
    margin: 10px;
    padding: 4px 1px;
}
.nav li a{
    text-decoration: none;
    background-color: green;
    padding: 4px 15px;
}